@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
    background: #dfe9f5;
    background-image: url("/Images/Home-Repair-Logo-6.png");
    background-size: 62px;

}
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.box {
  position: absolute;
  background-color: #b6cdfa;
  left: 13%;
  width: 74%;
  height: 947px;
  z-index: -2;
}

/*
  Nav Bar ----------------------------------------------------------------------------------------
  */
  .Desktop .NAV {
    z-index: 999;
    width: 100%;
  }
  .Desktop .logo {
    text-align: center;
    display: flex;
    margin-left: -10px;
    margin-top: 5px;
  }
  .Desktop .logo img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
  }
  .Desktop .logo span {
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
  }
  .Desktop header a {
    text-decoration: none;
  }
  .Desktop header {
    padding: 0 20px;
    background-color: #2553A8FF;
    height: 52px;
    display: flex;
    justify-content: space-between;
  }
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  #brand a {
    color: #09c372;
  }
  .Desktop ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
    margin-top: -4px;
    padding-bottom: 35px;
    padding-top: 25px;
  }
  .Desktop ul a {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
  }
  .Desktop ul p {
    font-size: 12px;
    font-weight: lighter;
    margin-top: -5px;
  }
  .Desktop ul li {
    padding: 1px;
    margin-left: 10px;
  }
  .Desktop ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .Desktop .dropdown {
    position: relative;
  }
  
  .Desktop .dropdown-content {
    position: absolute;
    top: 100%;
    left: -100px;
    top: 41px;
    width: 200px;
    background-color: #2553A8FF;
    padding: 10px;
    display: none;
  }
  
  .Desktop .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .Desktop .dropdown-content form {
    margin-bottom: 10px;
  }
  
  .Desktop .dropdown-content input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }
  .Desktop .dropdown-content .options {
    text-align: center;
    margin-top: -10px;
  }
  .Desktop .dropdown-content .options a {
    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  .Desktop .dropdown-content .options a:hover {
    color: #30bd53;
  }
  .Desktop .dropdown-content .options .separator {
    color: #fff;
    margin: 0 5px;
  }
  .Desktop .logo{
    z-index: 2;
  }
  .Desktop .logo:hover{
    transform: scale(1.05);
  }
  /*
    Nav Bar ----------------------------------------------------------------------------------------
    */
  
/*
Sidebar Menu --------------------------------------------------------------------------------------
*/

.Desktop{
  display: block;
}
.Mobile{
  display: none;
}
.Search-Bar .Mobile{
  display: none;
}
.Search-Bar .Desktop{
  display: block;
}
.container .Mobile{
  display: none;
}
.container .Desktop{
  display: block;
}
.grid-con .Desktop{
  display: block;
}
.grid-con .Mobile{
  display: none;
}
/*
Search Bar ----------------------------------------------------------------------------------------
*/

.Desktop .Search-Bar .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}
.Desktop .search_wrap{
  margin-top: -46px;
  margin-bottom: -150px;

}
.Desktop .search_wrap .search_box{
	position: relative;
	width: 61%;
	height: 40px;  
}
.Desktop .search_wrap .search_box .input{
	position: absolute;
	top: 0;
	right: -30%;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	font-size: 18px;
}
.Desktop .search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #b3b3b3;
	z-index: 1;
	cursor: pointer;
  border-left: 2px solid #2553A8FF;
}
.Desktop .search_wrap .search_box .btn:hover{
	background: #888888;	
}

.Desktop .search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #2553A8FF;
	font-size: 20px;
}

.Desktop .search_wrap.search_wrap_1 .search_box .btn{
	right: -35%;

}
.Desktop .search_wrap.search_wrap_1 .search_box .input{
	padding-right: 80px;
  
}
/*
Search Bar ----------------------------------------------------------------------------------------
*/

/*
Rotating Banner -----------------------------------------------------------------------------------
*/
.Desktop .container{
    padding: 0rem;
    width: 700px;
}
.Desktop .slider-wrapper {
    position: relative;
    max-width: 44rem;
    margin-top: 175px;
    left: 19%;
  }
.Desktop .slider {
    display: flex;
    aspect-ratio: 5 / 3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
}
.Desktop .slider a{
  display:contents;
}
.Desktop .slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.Desktop .slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #2553A8FF;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.Desktop .slider-nav a:hover{
    opacity: 1;
}
/*
Rotating Banner -----------------------------------------------------------------------------------
*/

/*
Grid Boxes ----------------------------------------------------------------------------------------
*/
.Desktop .grid-container {
  position: absolute;
    display: grid;
    width: 500px;
    grid-template-columns: 220px 220px;
    margin-top: -427px;
    left: 57%;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 20px;
    overflow: hidden;
    justify-content: center;
  }
  .Desktop .grid-item {
    position: relative;
    border: 3px solid #2553a8;
    padding-top: 40px;
    height: 125px;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    border-radius: 8%;
    color: #2553a8;
    font-weight: bolder;
  }
  .Desktop .grid-item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 220px;
  }
  .Desktop .banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: #d4d4d4;
    z-index: 2;
    border-radius: 8%;
  }
  .Desktop .grid-item img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Desktop .grid-item.Bathroom{
    background-image: url("/Images/zac-gudakov-cEZNJ-wk1VY-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .Desktop .grid-item.Kitchen{
    background-image: url("/Images/Kitchen.jpg");
    background-size: cover;
    background-position: center;
  }
  .Desktop .grid-item.Living{
    background-image: url("/Images/kyoshi-reyes-g_P3PajXIog-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .Desktop .grid-item.Bed{
    background-image: url("/Images/bedroom.png");
    background-size: cover;
    background-position: center;
  }
  .Desktop .grid-item.Office{
    background-image: url("/Images/grovemade-RvPDe41lYBA-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .Desktop .grid-item.Dinning{
    background-image: url("/Images/dinning.jpg");
    background-size: cover;
    background-position: center;
  }
  .Desktop .grid-item.Attic{
    background-image: url("/Images/attic.jpg");
    background-size: cover;
    background-position: center;
  }
  .Desktop .grid-item.Base{
    background-image: url("/Images/base.jpg");
    background-size: cover;
    background-position: center;
  }
  .Desktop .grid-item.Wash{
    background-image: url("/Images/emmanuel-ikwuegbu-FXpJW_wdMdk-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }

.Desktop .grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.Desktop .text-overlay {
    position: relative;
    pointer-events: none;
    user-select: none;
    z-index: 3;
  }
.Desktop .grid-item:hover {
    transform: scale(1.05);
}
.Desktop .grid-item:hover {
  transform: scale(1.05);
  color: #0742ad; 
  font-weight: bold; 
  border-color: rgb(7, 66, 173);
  
}
/*
Grid Boxes ----------------------------------------------------------------------------------------
*/

/*
Boxes
*/
.history-box{
  position: relative;
  background-color: #8594af;
  margin-top: 15px;
  width: 300px;
  height: 250px;
  left: 39%;
  text-align: center;
  padding-top: 80px;
  border-radius: 5px;
  border: 3px solid #2553a8;
}
.favorite-box{
  position: relative;
  background-color: #8594af;
  margin-top: -250px;
  width: 300px;
  height: 250px;
  left: 20%;
  text-align: center;
  padding-top: 100px;
  border-radius: 5px;
  border: 3px solid #2553a8;
}
.box-text {
  color: #2553a8; /* Set the desired text color */
  font-size: 25px; /* Set the desired font size */
  font-weight: bold;
  pointer-events: none;
}
.history-box:hover,
.favorite-box:hover {
  transform: scale(1.05);
}

/*
Boxes
*/

/*
Bottom Banner
*/
.Bot-banner {
  position: fixed;
  bottom: 0;
  left: 13%;
  width: 74%;
  background-color: #2553a8; 
  padding: 10px; 
}

.banner-text {
  color: #fff; 
  text-align: center;
  width: 94%;
  float: right;

}
.banner-set {
  color: #fff; 
  text-decoration: none;
  float: right;
  padding-left: 15px;
  font-size: 12px;
}
.banner-ab {
  color: #fff; 
  text-decoration: none;
  float: right;
  font-size: 12px;
}

.banner-set:hover,
.banner-ab:hover {
  text-decoration: underline;
}
/*
Bottom Banner
*/

@media screen and (max-width: 1875px){
  /*
  Grid Boxes ----------------------------------------------------------------------------------------
  */
  .Desktop .grid-container {
    display: grid;
    width: 750px;
    grid-template-columns: 220px 220px 220px;
    margin-top: 5px;
    left: 25%;
    padding-top: 5px;
    padding-bottom: 100px;
    float: left;
    gap: 20px;
    overflow: hidden;
    justify-content: center;
  }
  
  .Desktop .grid-item:last-child {
    grid-column-start: auto;
    grid-column-end: auto;
    justify-self: auto;
    width: auto;
  }
  .Desktop .slider-wrapper {
    position: relative;
    max-width: 44rem;
    margin-top: 175px;
    left: 26.5%;
  }
  
}

@media screen and (max-width: 1150px){
  .Desktop .grid-container {
    display: grid;
    width: 750px;
    grid-template-columns: 220px 220px 220px;
    margin-top: 5px;
    margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 100px;
    float: left;
    gap: 20px;
    overflow: hidden;
    justify-content: center;
  }
  
  .Desktop .grid-item:last-child {
    grid-column-start: auto;
    grid-column-end: auto;
    justify-self: auto;
    width: auto;
  }

  .Desktop .slider-wrapper {
    position: relative;
    max-width: 44rem;
    margin-top: 175px;
    margin-left: 125px;
}

.Desktop .search_wrap{
	width: 700px;
	margin-left: 125px;
  margin-top: 100px;
  margin-bottom: -150px;
  border: 3px solid #2553a8;

}
}

/*
Mobile ----------------------------------------------------------------------------------------
*/

@media screen and (max-width: 835px) {
  body {
    touch-action: manipulation;
    background-image: none;
  }
  .Mobile{
    display: block;
    position: relative; 
  }
  .Desktop{
    display: none;
  }
  .Search-Bar .Desktop{
    display: none;
  }
  .container .Desktop{
    display: none;
  }
  .Search-Bar .Mobile{
    display: block;
  }
  .container .Mobile{
    display: block;
  }
  .grid-con .Desktop{
    display: none;
  }
  .grid-con .Mobile{
    display: block;
  }
  .box{
    display: none;
  }

   /*
  Nav Bar ----------------------------------------------------------------------------------------
  */
  .Mobile .NAV{
    z-index: 999;
    width: 100%;
  }
  .Mobile .logo{
    text-align: center;
    display: flex;
    margin-left: -15px;
    margin-top: 5px;
}
  .Mobile .logo img{
    width: 40px;
    height: 40px;
    border-radius: 15%;
}
  .Mobile .logo span{
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}
  .Mobile header a {
    text-decoration: none;
  }
  
  .Mobile header {
    padding: 0 20px;
    background-color: #2553A8FF;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .Mobile #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: #09c372;

  }
  .Mobile ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .Mobile ul a {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
  }
  
  .Mobile ul li {
    padding: 1px;
    margin-left: 10px;
    
  }
  
  .Mobile ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
   #login,
  #signup {
    border-radius: 5px;
    padding: 5px 4px;
    width: 100px; 
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: ease 0.3s;
  }
  #signup span,
  #login span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
  }

   #login {
    border: 1px solid #30bd53;
    margin-bottom: 10px;
  }
  
   #signup {
    border: 1px solid #ff3860;
  }
  
   #signup a {
    color: #ff3860;
    margin-left: 12px;
  }
  
   #login a {
    color: #30bd53;
    margin-left: 20px;

    
  }

   #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
   #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .Mobile .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .Mobile .open .bar2 {
    opacity: 0;
  }
  
  .Mobile .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .Mobile .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .Mobile .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: #2553A8FF; 
    z-index: 998; 
    padding: 10px;
  }
  
  .Mobile.mobile-menu li {
    margin-bottom: 10px;
  }
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  /*
  Nav Bar ----------------------------------------------------------------------------------------
  */

  /*
  Search Bar ----------------------------------------------------------------------------------------
  */
  .Mobile .Search-Bar .input{
    border: 0;
    outline: none;
    color: #8b7d77;
  }
  .Mobile .search_wrap{
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
  }
  .Mobile .search_wrap .search_box{
    position: relative;
    width: 100%;
    max-width: 834px;
    height: 40px;
  }
  .Mobile .search_wrap .search_box .input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
  }
  /*
  Search Bar ----------------------------------------------------------------------------------------
  */

  /*
Rotating Banner -----------------------------------------------------------------------------------
*/
.Mobile .container{
  padding: 0rem;
  width: 100%;
}
.Mobile .slider-wrapper{
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}
.Mobile .slider{
  display: flex;
  aspect-ratio: 24 / 3;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
  border-radius: 0.5rem;
}
.Mobile .slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.Mobile .slider-nav{
  display: none;
}
/*
Rotating Banner -----------------------------------------------------------------------------------
*/

/*
Grid Boxes ----------------------------------------------------------------------------------------
*/
.Mobile .grid-con{
  padding: 11rem 10rem;
  width: 100%;
}
.Mobile .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  gap: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.Mobile .grid-item {
  position: relative;
  border: 3px solid rgb(37, 83, 168);
  padding-top: 20px;
  height: 100px;
  font-size: 25px;
  text-align: center;
  overflow: hidden;
  border-radius: 8%;
  color: #0d3f9c;
  font-weight: bolder;
}
.Mobile .banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #d4d4d4;
  z-index: 2;
  border-radius: 8%;
}

.Mobile .grid-item.Bathroom{
  background-image: url("/Images/zac-gudakov-cEZNJ-wk1VY-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.Mobile .grid-item.Kitchen{
  background-image: url("/Images/Kitchen.jpg");
  background-size: cover;
  background-position: center;
}
.Mobile .grid-item.Living{
  background-image: url("/Images/kyoshi-reyes-g_P3PajXIog-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.Mobile .grid-item.Bed{
  background-image: url("/Images/bedroom.png");
  background-size: cover;
  background-position: center;
}
.Mobile .grid-item.Office{
  background-image: url("/Images/grovemade-RvPDe41lYBA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.Mobile .grid-item.Dinning{
  background-image: url("/Images/dinning.jpg");
  background-size: cover;
  background-position: center;
}
.Mobile .grid-item.Attic{
  background-image: url("/Images/attic.jpg");
  background-size: cover;
  background-position: center;
}
.Mobile .grid-item.Base{
  background-image: url("/Images/base.jpg");
  background-size: cover;
  background-position: center;
}
.Mobile .grid-item.Wash{
  background-image: url("/Images/emmanuel-ikwuegbu-FXpJW_wdMdk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.Mobile .text-overlay {
  position: relative;
  pointer-events: none;
  user-select: none;
  z-index: 3;
}

/*
Grid Boxes ----------------------------------------------------------------------------------------
*/


}