@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
    background: #dfe9f5;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*
Sidebar Menu --------------------------------------------------------------------------------------
*/
nav{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 98px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 61.5px;
    height: 60px;
    border-radius: 15%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgba(37, 83, 168, 1);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fas{
    position: relative;
    width: 80px;
    height: 50px;
    top: 14px;  
    font-size: 25px;
    text-align: center;
}
.nav-bar{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;   
}
nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.bottom-nav{
    position: absolute;
    bottom: 0;
}
/*
Sidebar Menu --------------------------------------------------------------------------------------
*/

/*
Search Bar ----------------------------------------------------------------------------------------
*/
.Search-Bar .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}
.search_wrap{
	width: 500px;
	margin: 38px auto;
}
.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}
.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}
.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #2553A8FF;
	z-index: 1;
	cursor: pointer;
}
.search_wrap .search_box .btn:hover{
	background: #2553A8FF;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn{
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.search_wrap.search_wrap_1 .search_box .input{
	padding-right: 80px;
}
/*
Search Bar ----------------------------------------------------------------------------------------
*/

/*
Rotating Banner -----------------------------------------------------------------------------------
*/
.container{
    padding: 0rem;
}
.slider-wrapper{
    position: relative;
    max-width: 50rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 24 / 3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #2553A8FF;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
/*
Rotating Banner -----------------------------------------------------------------------------------
*/

/*
Grid Boxes ----------------------------------------------------------------------------------------
*/
.grid-con{
    padding: 1.5rem 20rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding: 20px;
    gap: 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .grid-item {
    position: relative;
    border: 3px solid rgb(37, 83, 168);
    padding-top: 50px;
    height: 175px;
    font-size: 50px;
    text-align: center;
    overflow: hidden;
    border-radius: 8%;
    color: rgb(37, 83, 168);
    font-weight: bolder;
  }
  .grid-item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 600px;
  }

  .grid-item.Bathroom{
    background-image: url("/Images/bathroom.jpg");
    background-size: cover;
    background-position: center;
  }
  .grid-item.Kitchen{
    background-image: url("/Images/Kitchen.jpg");
    background-size: cover;
    background-position: center;
  }
  .grid-item.Living{
    background-image: url("/Images/living.jpg");
    background-size: cover;
    background-position: center;
  }
  .grid-item.Bed{
    background-image: url("/Images/bedroom.png");
    background-size: cover;
    background-position: center;
  }
  .grid-item.Office{
    background-image: url("/Images/office.jpg");
    background-size: cover;
    background-position: center;
  }
  .grid-item.Dinning{
    background-image: url("/Images/dinning.jpg");
    background-size: cover;
    background-position: center;
  }
  .grid-item.Attic{
    background-image: url("/Images/attic.jpg");
    background-size: cover;
    background-position: center;
  }
  .grid-item.Base{
    background-image: url("/Images/base.jpg");
    background-size: cover;
    background-position: center;
  }
  .grid-item.Wash{
    background-image: url("/Images/laundry.jpg");
    background-size: cover;
    background-position: center;
  }
.grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(105, 105, 105); 
    opacity: 0.3;
    z-index: 1;
}
.grid-item:hover::before {
  opacity: 0.8; 
}
.text-overlay {
    position: relative;
    pointer-events: none;
    user-select: none;
    z-index: 2;
  }
  .grid-item:hover {
    transform: scale(1.05);
    padding-top: 30px;
}
.grid-item:hover {
  transform: scale(1.05);
  color: rgb(7, 66, 173); 
  font-weight: bold; 
  font-size: 70px;
  border-color: rgb(7, 66, 173);
  
}
/*
Grid Boxes ----------------------------------------------------------------------------------------
*/
